Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinx-rtd-theme
docutils
numpy
matplotlib
pillow
sphinx-gallery
numpydoc
pandas
lz4
distributed
psutil
